.best__seller__carousel {
  width: 100%;
  margin: auto;
  --slide-height: 25rem;
  --slide-spacing: 0rem;
  --slide-size: 20%;
}
.best__seller__carousel__viewport {
  overflow: hidden;
}
.best__seller__carousel__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.best__seller__carousel__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
}
.best__seller__carousel__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
